* {
    margin: 0;
    padding: 0;
  }
  
  
  body {
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
  }
  
  
  header {
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
  }
  
  nav a:hover {
    color: #f00;
  }
  
  h1 {
    font-size: 36px;
    font-weight: bold;
    margin-top: 40px;
  }
  
  ol {
    margin-top: 20px;
  }
  
  ol li {
    margin-bottom: 10px;
    padding-left: 20px;
    position: relative;
  }
  
  ol li::before {
    content: "•";
    color: #f00;
    font-weight: bold;
    position: absolute;
    left: 0;
  }
  
  footer {
    margin-top: 20px;
    text-align: center;
    color: #999;
    font-size: 12px;
    padding: 10px;
  }
  